<!-- THE MODAL OVERLAY -->
<div id="modal-overlay" class="hidden"></div>

<!-- THE CREATE MODAL -->
<div id="modal-create" class="modal hidden">
    <!-- THE MODAL HEADING -->
    <h3 id="modal-create-heading" class="modal-heading">Monday</h3>

    <!-- THE TYPE -->
    <input type="text" name="type" id="modal-create-type" class="modal-input hidden" value="{{ type }}" />

    <!-- THE DAY -->
    <input type="text" name="day" id="modal-create-day" class="modal-input hidden" />

    <!-- THE TIME -->
    <input placeholder="--:-- --" type="time" name="time" id="modal-create-time" class="modal-input time-pickable" />

    <!-- THE MODAL BUTTOS -->
    <section id="modal-create-buttons" class="modal-buttons">
        <!-- THE CANCEL BUTTON -->
        <button class="modal-button modal-button-danger" onclick="closeModal('modal-create')">Cancel</button>

        <!-- THE CONFIRM BUTTON -->
        <button class="modal-button modal-button-primary" onclick="createTimeslot('create')">Create</button>
    </section>
</div>

<!-- THE UPDATE MODAL -->
<div id="modal-update" class="modal hidden">
    <!-- THE MODAL HEADING -->
    <h3 id="modal-update-heading" class="modal-heading">Monday</h3>

    <!-- THE ID -->
    <input type="number" name="id" id="modal-update-id" class="modal-input hidden" />

    <!-- THE TYPE -->
    <input type="text" name="type" id="modal-update-type" class="modal-input hidden" value="{{ type }}" />

    <!-- THE DAY -->
    <input type="text" name="day" id="modal-update-day" class="modal-input hidden" />

    <!-- THE TIME -->
    <input placeholder="--:-- --" type="time" name="time" id="modal-update-time" class="modal-input time-pickable" />

    <!-- THE MODAL BUTTOS -->
    <section id="modal-update-buttons" class="modal-buttons">
        <!-- THE CANCEL BUTTON -->
        <button class="modal-button modal-button-danger" onclick="closeModal('modal-update')">Cancel</button>

        <!-- THE CONFIRM BUTTON -->
        <button class="modal-button modal-button-tertiary" onclick="createTimeslot('update')">Update</button>
    </section>
</div>

<!-- THE DELETE MODAL -->
<div id="modal-delete" class="modal hidden">
    <!-- THE MODAL HEADING -->
    <h3 id="modal-delete-heading" class="modal-heading">Monday</h3>

    <!-- THE ID -->
    <input type="number" name="id" id="modal-delete-id" class="modal-input hidden" />

    <!-- THE DAY -->
    <input type="text" name="day" id="modal-delete-day" class="modal-input hidden" />

    <!-- THE TYPE -->
    <input type="text" name="type" id="modal-delete-type" class="modal-input hidden" value="{{ type }}" />

    <!-- THE TIME -->
    <input placeholder="--:-- --" type="time" name="time" id="modal-delete-time" class="modal-input time-pickable" />

    <!-- THE MODAL BUTTOS -->
    <section id="modal-delete-buttons" class="modal-buttons">
        <!-- THE CANCEL BUTTON -->
        <button class="modal-button modal-button-secondary" onclick="closeModal('modal-delete')">Cancel</button>

        <!-- THE CONFIRM BUTTON -->
        <button class="modal-button modal-button-danger" onclick="deleteTimeslot()">Delete</button>
    </section>
</div>

<!-- THE PURGE MODAL -->
<div id="modal-purge" class="modal hidden">
    <!-- THE MODAL HEADING -->
    <h3 id="modal-purge-heading" class="modal-heading">Purge Timesheet</h3>

    <!-- THE MESSAGE -->
    <p id="modal-purge-message" class="modal-message">
        Are you sure you want to purge the Timesheet? This will remove all timeslots from the database and cannot be
        reversed!
    </p>

    <!-- THE TYPE -->
    <input type="text" name="type" id="modal-purge-type" class="modal-input hidden" value="{{ type }}" />

    <!-- THE MODAL BUTTONS -->
    <section id="modal-purge-buttons" class="modal-buttons">
        <!-- THE CANCEL BUTTON -->
        <button class="modal-button modal-button-secondary" onclick="closeModal('modal-purge')">Cancel</button>

        <!-- THE CONFIRM BUTTON -->
        <button class="modal-button modal-button-danger" onclick="purgeTimesheet()">Purge!</button>
    </section>
</div>

<!-- THE INSTANT MODAL -->
<div id="modal-instant" class="modal hidden">
    <!-- THE MODAL HEADING -->
    <h3 id="modal-instant-heading" class="modal-heading">Instant Timeslot(s)</h3>

    <!-- THE TYPE -->
    <input type="text" name="type" id="modal-instant-type" class="modal-input hidden" value="{{ type }}" />

    <!-- THE TIME -->
    <input placeholder="--:-- --" type="time" name="time" id="modal-instant-time" class="modal-input time-pickable" />

    <!-- THE DAYS -->
    <fieldset>
        <legend>Timeslot Days</legend>

        <label for="modal-instant-days-all" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-all"
                class="modal-checkbox-input modal-instant-checkbox"
                value="All" />
            Select All
        </label>

        <label for="modal-instant-days-monday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-monday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Monday" />
            Monday
        </label>

        <label for="modal-instant-days-tuesday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-tuesday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Tuesday" />
            Tuesday
        </label>

        <label for="modal-instant-days-wednesday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-wednesday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Wednesday" />
            Wednesday
        </label>

        <label for="modal-instant-days-thursday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-thursday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Thursday" />
            Thursday
        </label>

        <label for="modal-instant-days-friday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-friday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Friday" />
            Friday
        </label>

        <label for="modal-instant-days-saturday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-saturday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Saturday" />
            Saturday
        </label>

        <label for="modal-instant-days-sunday" class="modal-checkbox">
            <input
                type="checkbox"
                name="days"
                id="modal-instant-days-sunday"
                class="modal-checkbox-input modal-instant-checkbox"
                value="Sunday" />
            Sunday
        </label>
    </fieldset>

    <!-- THE MODAL BUTTONS -->
    <section id="modal-instant-buttons" class="modal-buttons">
        <!-- THE CANCEL BUTTON -->
        <button class="modal-button modal-button-danger" onclick="closeModal('modal-instant')">Cancel</button>

        <!-- THE CONFIRM BUTTON -->
        <button class="modal-button modal-button-primary" onclick="createInstantTimeslots()">Create</button>
    </section>
</div>

<style>
    #picker {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 25;
        background-color: #111111;
        height: 375px;
        width: 200px;
    }

    #picker .container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        overflow: auto;
        border: 3px solid #7cc0ff;
    }

    .hour,
    .modif,
    .minute {
        cursor: pointer;
        border: 2px solid transparent;
        text-align: center;
    }

    .hour:hover,
    .modif:hover,
    .minute:hover {
        border: 2px solid #fcff62;
    }

    .active {
        border: 2px solid #7cc0ff;
    }

    #save-time {
        cursor: pointer;

        width: 100%;
        height: 50px;

        margin-top: 25px;

        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        color: #ffffff;
        border: 3px solid #ffffff;
        background-color: #111111;

        &:hover {
            color: #111111;
            border: 1px solid #111111;
            background-color: #cccccc;
            box-shadow: 3px 3px #ffffff;

            &:active {
                box-shadow: none;
                transform: translate(3px, 3px);
            }
        }

        color: #7cc0ff;
        border-color: #7cc0ff;

        &:hover {
            color: #111111;
            border: 1px solid #111111;
            background-color: #7cc0ff;
        }
    }
</style>

<div id="picker" class="hidden">
    <div class="container">
        <div id="hours">
            <div class="hour active">01</div>
            <div class="hour">02</div>
            <div class="hour">03</div>
            <div class="hour">04</div>
            <div class="hour">05</div>
            <div class="hour">06</div>
            <div class="hour">07</div>
            <div class="hour">08</div>
            <div class="hour">09</div>
            <div class="hour">10</div>
            <div class="hour">11</div>
            <div class="hour">12</div>
        </div>
        <div id="minutes">
            <div class="minute active">00</div>
            <div class="minute">05</div>
            <div class="minute">10</div>
            <div class="minute">15</div>
            <div class="minute">20</div>
            <div class="minute">25</div>
            <div class="minute">30</div>
            <div class="minute">35</div>
            <div class="minute">40</div>
            <div class="minute">45</div>
            <div class="minute">50</div>
            <div class="minute">55</div>
        </div>
        <div id="modifier">
            <div class="modif active">AM</div>
            <div class="modif">PM</div>
        </div>
    </div>
    <button id="save-time">Set Time</button>
</div>

<script>
    document.querySelectorAll('.time-pickable').forEach((timepickable) => {
        timepickable.addEventListener('click', (e) => {
            e.preventDefault();

            timepickable.classList.add('the-active-time-picker');

            document.querySelector('#picker').classList.remove('hidden');
        });
    });

    document.querySelectorAll('.hour').forEach((hour) => {
        hour.addEventListener('click', () => {
            document.querySelectorAll('.hour').forEach((hour2) => {
                hour2.classList.remove('active');
                if (hour2.innerText === hour.innerText) hour2.classList.add('active');
            });
        });
    });

    document.querySelectorAll('.minute').forEach((minute) => {
        minute.addEventListener('click', () => {
            document.querySelectorAll('.minute').forEach((minute2) => {
                minute2.classList.remove('active');
                if (minute2.innerText === minute.innerText) minute2.classList.add('active');
            });
        });
    });

    document.querySelectorAll('.modif').forEach((modifier) => {
        modifier.addEventListener('click', () => {
            document.querySelectorAll('.modif').forEach((modif2) => {
                modif2.classList.remove('active');
                if (modif2.innerText === modifier.innerText) modif2.classList.add('active');
            });
        });
    });

    document.getElementById('save-time').addEventListener('click', () => {
        const hour12 = document.querySelector('.hour.active').innerText;
        const minute12 = document.querySelector('.minute.active').innerText;
        const modifier12 = document.querySelector('.modif.active').innerText;

        let hour24 = hour12;

        if (modifier12 === 'AM' && hour12 === '12') hour24 = '00';

        if (modifier12 === 'PM' && hour12 !== '12') hour24 = parseInt(hour12) + 12;

        document.querySelector('.time-pickable.the-active-time-picker').value = `${hour24}:${minute12}`;

        document.querySelector('#picker').classList.add('hidden');

        document.querySelector('.time-pickable.the-active-time-picker').classList.remove('the-active-time-picker');
    });
</script>
