{% extends '../_base.html' %}

<!-- THE TITLE BLOCK -->
{% block title %} Timesheet | FB-AUTO {% endblock %}

<!-- THE STYLES BLOCK -->
{% block styles %}
<link rel="stylesheet" href="/css/timesheet/timesheet.css" />
{% endblock %}

<!-- THE CONTENT BLOCK -->
{% block content %}
<!-- THE TIMESHEET SWITCHER -->
<select name="timesheet" id="timesheet-type-switch">
    <option value="tweet"{% if type == 'tweet' %} selected="selected" {% endif %}>Tweet Timesheet</option>
    <option value="retweet"{% if type == 'retweet' %} selected="selected" {% endif %}>Retweet Timesheet</option>
</select>

<!-- THE TIMESHEET ACTIONS -->
<div id="timesheet-actions" {% if timeslots.length > 0 %} class="not-empty" {% endif %}>
    {% if timeslots.length > 0 %}
    <!-- THE TIMESHEET DELETE -->
    <button class="timesheet-action timesheet-delete" onclick="openModal('modal-purge')">
        <i class="fa-regular fa-trash-can"></i>
    </button>
    {% endif %}

    <!-- THE INSTANT TIMESLOT -->
    <button class="timesheet-action timesheet-instant" onclick="openModal('modal-instant')">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<!-- THE TIMESHEET -->
<div id="timesheet">
    {% for day in days %}
    <div class="timesheet-container" data-day="{{ day }}">
        <header class="timesheet-header" data-day="{{ day }}">
            <h3 class="timesheet-heading" data-day="{{ day }}">{{ day }}</h3>
        </header>
        <section class="timesheet-content" data-day="{{ day }}">
            {% for timeslot in timeslots %} {% if timeslot.day == day %}
            <article
                class="timesheet-item"
                data-day="{{ timeslot.day }}"
                data-id="{{ timeslot.id }}"
                data-time="{{ timeslot.time }}"
                data-time-formatted="{{ timeslot.time_formatted }}">
                <h4
                    class="timesheet-item-heading"
                    data-day="{{ timeslot.day }}"
                    data-id="{{ timeslot.id }}"
                    data-time="{{ timeslot.time }}"
                    data-time-formatted="{{ timeslot.time_formatted }}">
                    {{ timeslot.time_formatted }}
                </h4>
                <section
                    class="timesheet-item-buttons"
                    data-day="{{ timeslot.day }}"
                    data-id="{{ timeslot.id }}"
                    data-time="{{ timeslot.time }}"
                    data-time-formatted="{{ timeslot.time_formatted }}">
                    <button
                        class="timesheet-item-button timesheet-item-edit-button"
                        data-day="{{ timeslot.day }}"
                        data-id="{{ timeslot.id }}"
                        data-time="{{ timeslot.time }}"
                        data-time-formatted="{{ timeslot.time_formatted }}"
                        onclick="handleUpdateTimeslot('{{ timeslot.id }}', '{{ timeslot.day }}', '{{ timeslot.time }}')">
                        <i class="fa-regular fa-pen-to-square" title="Edit time."></i>
                    </button>
                    <button
                        class="timesheet-item-button timesheet-item-delete-button"
                        data-day="{{ timeslot.day }}"
                        data-id="{{ timeslot.id }}"
                        data-time="{{ timeslot.time }}"
                        data-time-formatted="{{ timeslot.time_formatted }}"
                        onclick="handleDeleteTimeslot('{{ timeslot.id }}', '{{ timeslot.day }}', '{{ timeslot.time }}')">
                        <i class="fa-regular fa-trash-can" title="Delete time."></i>
                    </button>
                </section>
            </article>
            {% endif %} {% endfor %}
        </section>
        <footer class="timesheet-footer" data-day="{{ day }}">
            <button class="timesheet-new-button" data-day="{{ day }}" onclick="handleCreateTimeslot('{{ day }}')">
                + NEW
            </button>
        </footer>
    </div>
    {% endfor %}
</div>

<!-- THE MODALS -->
{% include './template/_modals.html' %}
<!-- END MODALS -->
{% endblock %}

<!-- THE SCRIPTS BLOCK -->
{% block scripts %}
<script src="/js/timesheet/handleOpenModal.js"></script>
<script src="/js/timesheet/handleCloseModal.js"></script>

<script src="/js/timesheet/createTimeslot.js"></script>
<script src="/js/timesheet/deleteTimeslot.js"></script>
<script src="/js/timesheet/handleCreateTimeslot.js"></script>
<script src="/js/timesheet/handleUpdateTimeslot.js"></script>
<script src="/js/timesheet/handleDeleteTimeslot.js"></script>
<script src="/js/timesheet/handlePurgeTimesheet.js"></script>
<script src="/js/timesheet/handleInstantTimesheet.js"></script>
<script src="/js/timesheet/handleTimesheetPageSwitch.js"></script>
{% endblock %}
